
<div class="about-main">
  <h2>釣りッターとは</h2>
  <p>
    釣り専用のSNSサービスです。
    本日の釣果のつぶやきを投稿し、釣果情報を共有しながら他のユーザーと楽しくコミュニケーションできます。
  </p>
  <img class="about-img" src="/stock-vector-silhouette-of-angler-with-fishing-rod-1411443353.jpg">
</div>